<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<meta charset="utf-8">
	<title>About Us</title>
	<link rel="stylesheet" href="../public/style.css">
</head>
<body>
	<div class="logo">
		<img src="../public/Evopedia Logo 2.png">
	</div>
	<div class="aboutus-text">
		<h1>Hello There,</h1>
		<p>We are pursuing final year in BScIT from M.L. Dahanukar College of Commerce.<br>Our project is Evopedia (EV Charging Station Locator).<br>The main objectives of Evopedia are given below :-</p>
	</div>
	<div class="icons">
	<img src="../public/charging.png">
	
		
	<img src="../public/map.png">
  <img src="../public/virtual.png">
	</div>
	<div class="iconstext">
		<p>Provides you with<br>various details regarding<br>EV charging stations.</p>
		<p>Easily find stations<br>that are closest to your<br>current location.</p>
		<p>Evopedia is user-friendly,<br>so you will have a smooth<br>charging station experience</p>
	</div>
	<footer class="pagefooter">
		<div class="contactus">
		<h2>Contact</h2>
		<div class="sa">
			<div class="phoneno">
			<p>Phone No. :<br>98940035xx<br>93647834xx</p></div>
			<div class="email">
			<p>Email :<br>evopedia@gmail.com<br>prathamsuvarna@gmail.com<br> lileshpatil@gmail.com</p></div>
		</div>
		</div>
	</footer>
</body>
</html>

<!--to provide you with all the information regarding EV charging stations and to easily find the stations closest to your location. This will save a lot of your time and efforts. This web-application is user-friendly and also provide various details necessary for your smooth charging station experience.-->