<html>
    <head>
        <title>Evopedia</title>
        <link rel ="stylesheet" href="../public/map.css">
        </head>
        <body>
            <div class="header">
               
                <nav>
                    
                    <img src="../public/logo.png "class="logo"><h1>Evopedia</h1>
                  
                    
            
            <ul class="nav-links">
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="">Filter</a></li>
                <li><a href="">My Vehical</a></li>
                <li class="btn"><a href="/LogIn">
                Sign In</a></li>
            </ul>
        </nav>
        </div>
        
        <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8786393.918907223!2d73.
            46664445728308!3d16.66879057996544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!
            2sin!4v1672373680211!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
            </div>
           
        </body>
    
</html>