*{
	margin: 0;
	padding: 0;
	font-family: Poppins;
	background-color: #13f332;
}

.logo img{
	float: left;
	padding-left: 25%;
	padding-top: 7%;
	width: 150px;
	height:150px ;
}

.aboutus-text{
	padding-top: 10%;
	padding-left: 40%;
	color: white;
}


.contactus{
	color: white;
	text-align: center;
	
	
}

.contactus h2{
	padding-top: 180px;
	
}

.contactus .sa{
	padding-top: 30px;
}

.contactus .sa .phoneno p{
	float: left;
	padding-left: 35%;
	
}

.contactus .sa .email p{
	float: left;
	padding-left: 15%;
}

/*.img1 img{
	height: 100px;
	width: 100px;
   margin-top: 50px;
   margin-bottom: 50px;


}*/

.icons img{
/*float: left;*/
     height: 100px;
	 width: 100px;
	 margin-top: 20px;
	margin-bottom: 20px;
	padding-right:60px ;
	margin-left: 330px;

	

	
	
	
	
	
	
	/*border: 50px groove rgb(19, 243, 50);
	/*filter: invert(1);*/
}


.iconstext p{
	float: left;
	color: white;
	
	text-align: center;
	padding-left: 290px;
	
	
	
	
}

